.user-list{
    margin: 20px;
    background-color: aquamarine;
    color: black;

}
.card{
    border: 1px solid black;
   
}
.card:hover{
    border: 1px dotted maroon;
    box-shadow: 2px;
}
.card{
    width: 350px;
    margin: 20px;
    padding: 10px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
.cards{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.but{
    display: flex;
    justify-content: space-evenly;
}
